/* =Twitter Admin
-------------------------------------------------------------- */

#icon-transifex-stats {
	background-image: url(../images/transifex_inverse.png);
	background-position: 2px -5px;
}

/* =Twitter Settings Page
----------------------------------*/
#cptw input.code {
	min-width: 400px;
}